nav{
  display: grid;
  background-color: chocolate;
  width: 100%;
  
}

nav ul{
  display: flex;
  list-style-type: none;
 
}
nav ul li a{ 
  color: white;
  font-size: 1rem;
  margin: 25px;
}

p{
  font-family: cursive;
  color: rgb(214, 139, 25);
 padding-top: 0%;
 margin-right: 3px;
}